#header {

    margin-top: 10px;
    text-align: center;

}

#main {
    padding: 30px;
}

#footer {
    text-align: center;
}

#footer .jumbotron{
    padding: 10px;
    border-radius: 10px;
}

.navbar{
    margin-bottom: 20px;
}
