body{
    height: 100%;
}

#container{
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

#header {

    border: 1px solid #000;
    min-height: 10%;
    text-align: center;

}

#header #title{

    font-size: 38px;
    font-weight: bold;
    margin-bottom: 10px;

}

#header #description{

    font-size: 20px;
    color: rgb(209, 149, 149);

}

#menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

#menu ul li{

    border: 1px solid #000;
    padding: 10px;
    margin: 0px 5px 0px 5px;
    border-radius: 10px;
    transition: background 0.5s;

}

#menu a{
    text-decoration: none;
    color: rgb(45, 127, 148);
}

#menu li:hover{
    background: rgb(148, 192, 148);
}

#menu .ativo{
    background: rgb(202, 212, 250);
}

#main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    min-height: 63%;
    padding: 0 10px 0 10px;
}

#main #cols {

    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 100%;

}

#main #cols .col{
    width: 100%;
    margin: 0 auto;
}

#footer {

    border: 1px solid #000;
    min-height: 13%;
    text-align: center;

}

#footer p{

    margin-top: 35px;
    font-weight: bold;

}

#formulario{
    border: 1px solid #000;
    width: 500px;
    margin: 30px auto;
    text-align: center;
    padding: 20px;
}

#formulario div{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

#formulario div label{
    margin-bottom: 5px;
}

#formulario button{
    margin-top: 30px;
}

#formulario textarea{
    height: 100px;
    resize: vertical;
}